
/*resetear margenes y padding de todos los elementos*/
* {
    margin:0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label.error {
    color:red;
}

.bx-wrapper {
    background-color: #e51e3f!important;
    border:none!important;
    box-shadow: none!important;
}

.galeria img {
    width: 300px;
    height: auto;
}

header {
    width: 100%;
    height: 80px;
    background-color: #a10d21;
}
/*declaramos una clase para el logo*/
.logo {
    width: 180px;
    height: 60px;
    margin-top:10px;
    margin-left: 10px;
}

.navegacion {
    float: right;
    margin-right: 30px;
}

.navegacion li  {
    display: inline-block;
    margin-left: 20px;
    margin-top:20px;
    background-color: #d61010;
    width: 100px;
    height: 34px;
    text-align: center;
    padding-top:15px;
    transition: border-radius 0.5s;
}

.navegacion li:hover {
    border-radius: 20px;
}


.navegacion li a {
    color:white;
    font-weight: bold;
}

.landing {
    background-color: #e51e3f;
    width: 100%;
    height: 520px;
}

.imagen_landing {
    width: 900px;
    height: 400px;
    margin:auto;
    display: block;
}

.eslogan {
    color: white;
    margin-left: 5px;
    font-size: 35px;
    float: left;
}

.redes_sociales {
    float: right;
    margin-right: 40px;
}

.redes_sociales li {
    display: inline-block;
    margin-left: 15px;
}

.redes_sociales li img {
    height: 50px;
    width: 50px;
}

.contenido {
    padding: 15px;
}   

footer {
    height: 300px;
    background-color: #9e9e9e;
}

.color_blanco {
    color:white;
}

.centrar_texto {
    text-align: center;
}

/*media query para dispositivos moviles*/
@media (max-width:1024px) {
    .imagen_landing {
        width: 100%;
        height: auto;
    }

    .eslogan {
        text-align: center;
        float:none;
    }

    .redes_sociales {
        float:none;
        text-align: center;
        margin:0;
        margin-top:20px;
    }

    header {
        height: 350px;
    }

    .navegacion {
        width: 80%;
        float:none;
        margin-right: 0;
        margin:auto;
    }

    .navegacion li {
        width: 100%;
        margin-left: 0;
    }

    .landing {
        height: auto;
    }
    
}

